USE [master]
GO
/****** Object:  Database [DB_FACTURACION]    Script Date: 12/04/2021 7:50:57 p. m. ******/
CREATE DATABASE [DB_FACTURACION]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_FACTURACION', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_FACTURACION.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_FACTURACION_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_FACTURACION_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_FACTURACION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_FACTURACION]
GO
/****** Object:  Schema [Clientes]    Script Date: 12/04/2021 7:50:58 p. m. ******/
CREATE SCHEMA [Clientes]
GO
/****** Object:  Schema [Compras]    Script Date: 12/04/2021 7:50:58 p. m. ******/
CREATE SCHEMA [Compras]
GO
/****** Object:  Table [Clientes].[Cliente]    Script Date: 12/04/2021 7:50:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Clientes].[Cliente](
	[Cli_Id] [int] IDENTITY(1,1) NOT NULL,
	[Cli_Nombres] [varchar](max) NULL,
	[Cli_Apellidos] [varchar](max) NULL,
	[Cli_FechaNacimiento] [datetime] NULL,
	[Cli_NumeroDocumento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cli_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Compras].[Almacen]    Script Date: 12/04/2021 7:50:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Compras].[Almacen](
	[Alm_Id] [int] IDENTITY(1,1) NOT NULL,
	[Alm_Nombre] [varchar](max) NULL,
	[Alm_Descripcion] [varchar](max) NULL,
	[Alm_Direccion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Alm_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Compras].[CantidadProducto]    Script Date: 12/04/2021 7:50:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Compras].[CantidadProducto](
	[Capr_Id] [int] IDENTITY(1,1) NOT NULL,
	[Capr_Producto] [int] NULL,
	[Capr_Cantidad] [int] NULL,
	[Capr_Almacen] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Capr_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Compras].[Compra]    Script Date: 12/04/2021 7:50:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Compras].[Compra](
	[Com_Id] [int] IDENTITY(1,1) NOT NULL,
	[Com_Factura] [int] NULL,
	[Com_Cliente] [int] NULL,
	[Com_Productos] [int] NULL,
	[Com_FechaCompra] [datetime] NULL,
	[Com_SeRealizo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Com_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Compras].[Factura]    Script Date: 12/04/2021 7:50:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Compras].[Factura](
	[Fac_Id] [int] IDENTITY(1,1) NOT NULL,
	[Fac_Cliente] [int] NULL,
	[Fac_Fecha] [datetime] NULL,
	[Fac_Disponible] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Fac_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Compras].[Productos]    Script Date: 12/04/2021 7:50:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Compras].[Productos](
	[Pro_Id] [int] IDENTITY(1,1) NOT NULL,
	[Pro_Nombre] [varchar](max) NULL,
	[Pro_Descripcion] [varchar](max) NULL,
	[Pro_Disponible] [bit] NULL,
	[Pro_Compra] [money] NULL,
	[Pro_Venta] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[Pro_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Compras].[CantidadProducto]  WITH CHECK ADD FOREIGN KEY([Capr_Producto])
REFERENCES [Compras].[Productos] ([Pro_Id])
GO
ALTER TABLE [Compras].[CantidadProducto]  WITH CHECK ADD FOREIGN KEY([Capr_Almacen])
REFERENCES [Compras].[Almacen] ([Alm_Id])
GO
ALTER TABLE [Compras].[Compra]  WITH CHECK ADD FOREIGN KEY([Com_Cliente])
REFERENCES [Clientes].[Cliente] ([Cli_Id])
GO
ALTER TABLE [Compras].[Compra]  WITH CHECK ADD FOREIGN KEY([Com_Factura])
REFERENCES [Compras].[Factura] ([Fac_Id])
GO
/****** Object:  StoredProcedure [dbo].[ConsultaFactura]    Script Date: 12/04/2021 7:50:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ConsultaFactura]

 @IDFACTURA			INT
 
 AS 
 BEGIN 
	  SELECT 
	  F.FAC_ID,
	  CL.CLI_NOMBRES + ' ' + CL.CLI_APELLIDOS AS NOMBRES,
	  F.FAC_FECHA,
	  P.PRO_NOMBRE,
	  P.PRO_DESCRIPCION,
	  P.PRO_VENTA

	  FROM COMPRAS.FACTURA AS F
			INNER JOIN  COMPRAS.COMPRA AS C ON F.FAC_ID = C.COM_FACTURA
			INNER JOIN CLIENTES.CLIENTE AS CL ON F.FAC_CLIENTE = CL.CLI_ID
			INNER JOIN COMPRAS.PRODUCTOS AS P ON C.COM_PRODUCTOS = P.PRO_ID
	  WHERE F.FAC_ID = @IDFACTURA

END
GO
/****** Object:  StoredProcedure [dbo].[CrearFactura]    Script Date: 12/04/2021 7:50:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CrearFactura]
@CLIENTE 		INT,
@PRODUCTOS		VARCHAR(MAX)
AS
BEGIN 
DECLARE @TABLAPRODUCTOS TABLE
(
PRODUCTOS INT
);

DECLARE @TABLAPRODUCTOSNUEVOS TABLE
(
PRODUCTOS INT
);

INSERT INTO @TABLAPRODUCTOS(PRODUCTOS)
SELECT 
	IDPRODUCTOS 
FROM OPENJSON(@PRODUCTOS)
WITH(
	IdProductos INT '$.IdProductos'
);

INSERT INTO @TABLAPRODUCTOSNUEVOS
SELECT PRODUCTOS FROM @TABLAPRODUCTOS;


INSERT INTO COMPRAS.FACTURA (FAC_CLIENTE, FAC_FECHA,FAC_DISPONIBLE)
VALUES(@CLIENTE, GETDATE(),1)

INSERT INTO COMPRAS.COMPRA
SELECT (SELECT TOP 1 FAC_ID FROM COMPRAS.FACTURA WHERE FAC_CLIENTE = @CLIENTE ORDER BY FAC_FECHA DESC), @CLIENTE, PRODUCTOS, GETDATE(), 1 FROM @TABLAPRODUCTOSNUEVOS


SELECT 1, 'SE CREO LA INFORMACIÓN CORRECTAMENTE';

END
GO
/****** Object:  StoredProcedure [dbo].[CrearProducto]    Script Date: 12/04/2021 7:50:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CrearProducto]

@NOMBRE			VARCHAR(MAX),
@DESCRIPCION	VARCHAR(MAX),
@DISPONIBLE		BIT,
@PRECIOCOMPRA	MONEY,
@PRECIOVENTA	MONEY

AS
BEGIN 
	INSERT INTO COMPRAS.PRODUCTOS(
				PRO_NOMBRE,
				PRO_DESCRIPCION,
				PRO_DISPONIBLE,
				PRO_COMPRA,
				PRO_VENTA
				)VALUES(
				@NOMBRE,		
				@DESCRIPCION,
				@DISPONIBLE,
				@PRECIOCOMPRA,
				@PRECIOVENTA
				);
				SELECT 1, 'SE CREO CORRECTAMENTE';
END



GO
/****** Object:  StoredProcedure [dbo].[EditarProducto]    Script Date: 12/04/2021 7:50:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EditarProducto]
@ID				INT,
@NOMBRE			VARCHAR(MAX),
@DESCRIPCION	VARCHAR(MAX),
@DISPONIBLE		BIT,
@PRECIOCOMPRA	MONEY,
@PRECIOVENTA	MONEY

AS
	DECLARE @COUNT_ID INT =  (SELECT COUNT(*) FROM COMPRAS.PRODUCTOS WHERE PRO_ID = @ID )

IF @COUNT_ID >1
	BEGIN
		UPDATE COMPRAS.PRODUCTOS SET 
					PRO_NOMBRE = @NOMBRE,
					PRO_DESCRIPCION =  @DESCRIPCION,
					PRO_DISPONIBLE = @DISPONIBLE,
					PRO_COMPRA = @PRECIOCOMPRA,
					PRO_VENTA = @PRECIOVENTA
		WHERE PRO_ID = @ID 
		SELECT 1, 'SE EDITO PRODUCTO';
	END				
				
ELSE 
	BEGIN 
		SELECT 0, 'NO EXITE PRODUCTO'
	END



GO
/****** Object:  StoredProcedure [dbo].[EliminarFactura]    Script Date: 12/04/2021 7:50:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EliminarFactura]

 @IDFACTURA			INT
 
AS 
BEGIN 
	UPDATE COMPRAS.FACTURA SET
	FAC_DISPONIBLE = 0 
	WHERE FAC_ID = @IDFACTURA
	select 1, 'SE ELIMINO CORRECTAMENTE'
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarProducto]    Script Date: 12/04/2021 7:50:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EliminarProducto]
@ID				INT


AS
	DECLARE @COUNT_ID INT =  (SELECT COUNT(*) FROM COMPRAS.PRODUCTOS WHERE PRO_ID = @ID )

IF @COUNT_ID >1
	BEGIN
		UPDATE COMPRAS.PRODUCTOS SET 
					PRO_DISPONIBLE = 0
		WHERE PRO_ID = @ID 
		SELECT 1, 'SE ELIMINO PRODUCTO';
	END				
				
ELSE 
	BEGIN 
		SELECT 0, 'NO EXITE PRODUCTO'
	END



GO
/****** Object:  StoredProcedure [dbo].[FechaCompra]    Script Date: 12/04/2021 7:50:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FechaCompra]

@NUMERODOCUMENTO		VARCHAR(100)

AS
	BEGIN

	SELECT TOP 1
		CL.CLI_NOMBRES + ' ' + CL.CLI_APELLIDOS AS NOMBRES,
		CO.COM_FECHACOMPRA AS ULTIMACOMPRA,
		(DATEDIFF(DAY, MIN(CO.COM_FECHACOMPRA),MAX(CO.COM_FECHACOMPRA))/
		COUNT (CO.COM_ID)) AS FRECUENCIA
	FROM CLIENTES.CLIENTE AS CL
		INNER JOIN COMPRAS.COMPRA AS CO ON CL.CLI_ID = CO.COM_CLIENTE
	WHERE CL.CLI_NUMERODOCUMENTO = @NUMERODOCUMENTO
	GROUP BY CL.CLI_NOMBRES, CL.CLI_APELLIDOS, CO.COM_FECHACOMPRA
		ORDER BY CO.COM_FECHACOMPRA DESC 

END
		
GO
/****** Object:  StoredProcedure [dbo].[listaCompras]    Script Date: 12/04/2021 7:50:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[listaCompras]


AS 
	SELECT 
		CL.CLI_NOMBRES + CL.CLI_APELLIDOS AS NOMBRES,
		CO.COM_FECHACOMPRA,
		P.PRO_NOMBRE AS NOMBREPRODUCTO
	FROM COMPRAS.COMPRA AS CO
		INNER JOIN CLIENTES.CLIENTE AS CL ON CO.COM_CLIENTE = CL.CLI_ID
		INNER JOIN COMPRAS.PRODUCTOS AS P ON CO.COM_PRODUCTOS = P.PRO_ID
		WHERE (CO.COM_FECHACOMPRA >= CONVERT(DATETIME, '01/02/2020',103)) AND  (CO.COM_FECHACOMPRA <= CONVERT(DATETIME, '25/05/2020',103)) 
				AND DATEDIFF(YEAR,GETDATE(),CL.Cli_FechaNacimiento)<= 35
GO
/****** Object:  StoredProcedure [dbo].[ListaPrecios]    Script Date: 12/04/2021 7:50:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ListaPrecios]

AS
 SELECT 
	P.PRO_NOMBRE AS PRODUCTO,
	P.PRO_DESCRIPCION AS DESCRIPCION,
	P.PRO_DISPONIBLE AS DISPONIBLE,
	P.PRO_VENTA AS PRECIOVENTA,
	P.PRO_COMPRA AS PRECIOCOMPRA
 FROM COMPRAS.PRODUCTOS AS P 
	
GO
/****** Object:  StoredProcedure [dbo].[ListaProductos]    Script Date: 12/04/2021 7:50:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ListaProductos]

AS
BEGIN
	SELECT 
		P.PRO_NOMBRE,
		P.PRO_DESCRIPCION,
		CP.CAPR_CANTIDAD,
		A.ALM_NOMBRE AS ALMACEN
	FROM COMPRAS.CANTIDADPRODUCTO AS CP
		INNER JOIN COMPRAS.PRODUCTOS  AS P ON CP.CAPR_PRODUCTO = P.PRO_ID
		INNER JOIN COMPRAS.ALMACEN AS A ON CP.CAPR_ALMACEN = A.ALM_ID
	WHERE CP.CAPR_CANTIDAD = 5

END
GO
/****** Object:  StoredProcedure [dbo].[TotalValor]    Script Date: 12/04/2021 7:50:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[TotalValor]

AS 

	SELECT 
		C.COM_PRODUCTOS,
		PR.PRO_NOMBRE,
		PR.PRO_DESCRIPCION,
		SUM(P.PRE_VALOR) TOTAL
	FROM COMPRAS.PRECIO AS P
		INNER JOIN COMPRAS.PRODUCTOS AS PR ON P.PRE_ID = PR.PRO_PRECIO 
		INNER JOIN COMPRAS.COMPRA AS C ON PR.PRO_PRECIO = C.COM_PRODUCTOS 
		WHERE (C.COM_FECHACOMPRA = CONVERT(DATETIME, '01/01/2020',103)) 
		GROUP BY C.COM_PRODUCTOS, PR.PRO_NOMBRE, PR.PRO_DESCRIPCION 
GO
USE [master]
GO
